/.gradle
/.idea
/app/build
/app/libs
/app/*.iml
/app/*.gradle
/app/*.pro
/app/src/androidTest
/app/src/test
/build
/gradle
/buid.gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/*.iml
/*.gradle
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
